.listImages {

}

.listItem {
    background-color: #403d49;
    height: 60px;
    padding: 10px;
    color: #fdfdfd;
    margin: 8px 0px;
    border-radius: 4px;
}

.listItemThumbnail {
    height: 60px;
    width: 80px;
    border: 4px solid #5eadc5;
    box-sizing: border-box
}