.linkContainer {
    justify-content: space-evenly;
    width: 100%;
    margin-top: 26px;
    display: none;
}

.link {
    color: #5eadc5;
    font-family: lato, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 2.2vw;
    text-transform: uppercase;
}

.active {
    text-decoration: underline;
    text-decoration-color: #403d49;
}

.mobileLinkContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #5eadc5;
    width: 100%;
    height: 26px;
    display: flex;
    justify-content: space-evenly;
}

.mobileLink {
    color: #403d49;

}


/* Smaller Screens */
@media only screen  and (min-width : 768px) {
    .linkContainer {
        display: flex;
    }

    .mobileLinkContainer {
        display: none;
    }
}


/* Desktops & Laptops */
@media only screen  and (min-width : 1224px) {

        .linkContainer {
            margin-top: 74px;
        }

        .link {
            font-size: 1.8vw;
        }
    }

