.uploadImageButton {
    display: inline-block;
    background-color: #5eadc5;
    border-radius:
}

.uploadImageButton label {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 8px;
}

.uploadImageButton label img {
    width: 40px;
    height: 40px;
}

.uploadImageButton label span {
    margin-left: 4px;
}

.uploadImageButton input {
    display: none;
}